[Unit]
Description=Transmission for Sonarr docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30
ExecStart=/usr/bin/docker run --rm \
        -e PGID={{ groupid }} \
	-e PUID={{ userid }} \
	-e TZ={{ timezone }} \
        -p 51414:51413 \
	-p 51414:51413/udp \
	-p 3000:9091 \
        -v /home/docker/sonarr/downloads:/downloads \
        -v /home/docker/transmission-tv/config:/config \
        -v /home/docker/transmission-tv/watch:/watch \
        --name transmission_sonarr \
        linuxserver/transmission

ExecStop=/usr/bin/docker stop transmission_sonarr

[Install]
WantedBy=default.target
