[Unit]
Description=Flexget docker container
Requires=docker.service
After=sonarr.service radarr.service

[Service]
Restart=always
RestartSec=30
ExecStart=/usr/bin/docker run --rm \
        --name=flexget \
        -e PGID={{ groupid }} \
	-e PUID={{ userid }} \
        -e TORRENT_PLUGIN=transmission \
	-e WEB_PASSWD={{ flexget_passwd }} \
        -p 5050:5050 \
        -v /home/docker/flexget/config:/config \
        -v /home/docker/flexget/downloads:/downloads \
        cpoppema/docker-flexget

ExecStop=/usr/bin/docker stop flexget

[Install]
WantedBy=default.target

