; <?php die('Access denied'); ?>
[general]
title = "Muximux - Application Management Console"
branch = "master"
theme = "modern"
color = "#31ac63"
splashscreen = "true"
tabcolor = "true"
rss = "false"
rssUrl = "https://www.wired.com/feed/"
userNameInput = "admin"
password = "muximux"

[settings]
branch_changed = ""
sha = "18ecfb7a9205e719a93aa8cfb00530b449021239"
enabled = "true"
default = "false"
name = "Settings"
url = "muximux.php"
landingpage = "false"
icon = "fa-cog"
dd = "true"
branches[develop] = "f1135f2a0a7d6d69dbcb086bd71d5e8bee6447c3"
branches[experimental] = "262b1a4c4ca6fa0386e46400211604d66c0bd22d"
branches[master] = "66b11488206b44364b6ed8bb438462cbbb0835c5"
branches[parseError] = "14ea3581389e329e27c496367b2b85b15fc106f9"
branches[saveProblem] = "4d16f3f4b1d7fb18bac5d8ed09b9a45dbe6711ff"
last_check = 1505359367

[Plex]
name = "Plex"
url = "http://{{ server_ip }}:32400/web"
scale = 1
icon = "muximux-plex"
color = "#f9be03"
enabled = "true"
default = "true"

[535308newApplication]
name = "PlexPy"
url = "http://{{ server_ip }}:8181"
scale = 1
icon = "muximux-plexivity"
color = ""
enabled = "true"

[31050newApplication]
name = "Ombi"
url = "http://{{ server_ip }}:3579"
scale = 1
icon = "muximux-y-combinator-square"
color = ""
enabled = "true"

[Couchpotato]
name = "Radarr"
url = "http://{{ server_ip }}:7878"
scale = 1
icon = "muximux-sonarr"
color = "#f85c22"
enabled = "true"

[Sonarr]
name = "Sonarr"
url = "http://{{ server_ip }}:8989"
scale = 1
icon = "muximux-sonarr"
color = "#35c5f4"
enabled = "true"

[RuTorrent]
name = "RuTorrent"
url = "http://{{ server_ip }}:8080"
scale = 1
icon = "muximux-rutorrent"
color = "#1a1bfe"
enabled = "true"

[576469newApplication]
name = "transmission_movies"
url = "http://{{ server_ip }}:2000"
scale = 1
icon = "muximux-transmission"
color = ""
enabled = "true"

[718660newApplication]
name = "transmission_tv"
url = "http://{{ server_ip }}:3000"
scale = 1
icon = "muximux-transmission"
color = ""
enabled = "true"

[373799newApplication]
name = "Jackett"
url = "http://{{ server_ip }}:9117"
scale = 1
icon = "muximux-jackett"
color = ""
enabled = "true"

[803273newApplication]
name = "Flexget"
url = "http://{{ server_ip }}:5050"
scale = 1
icon = "muximux-schedule"
color = ""
enabled = "true"

[628604newApplication]
name = "Glance"
url = "http://{{ server_ip }}:61208"
icon = "muximux-meter"
color = ""
enabled = "true"

